@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('styles/text.css');
@import url('styles/button.css');
@import url('styles/call-to-action.css');
@import url('styles/images-container.css');
@import url('styles/why-use.css');
@import url('styles/how-to-use.css');
@import url('styles/how-it-works.css');
@import url('styles/incentives-me.css');

* {
    font-family: "Barlow", sans-serif;
}

body {
    width: 100dvw;
    min-height: 100vh;

    margin: 0;
    padding: 0;

    overflow-x: hidden;

    box-sizing: border-box;

    background-color: #fffafa;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

body>img.paper-plane {
    position: absolute;

    width: 14vw;
    min-width: 125px;
    height: auto;

    top: 5dvh;
    right: 5dvw;

    z-index: 0;
}

header {
    width: 100dvw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0;
    padding-top: 5dvh;
    padding-left: 5dvw;
    padding-right: 5dvw;

    box-sizing: border-box;
}

main {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90%;

    margin: 16px auto;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 100dvw;

    padding: 16px;
    margin-top: 32px;

    box-sizing: border-box;

    position: relative;

    &>hr {
        width: 90%;
        height: 1px;

        background-color: #333;
        border: none;

        margin-bottom: 16px;
    }

    &>p {
        margin: 0;
    }

    &>img.rocket-rising {
        width: 80px;
        height: auto;

        position: absolute;

        bottom: 6px;
        left: 5dvw;

        z-index: 0;

        user-select: none;
    }
}