@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Barlow", sans-serif;
}

body {
    width: 100dvw;
    min-height: 100vh;

    margin: 0;
    padding: 0;

    overflow-x: hidden;

    box-sizing: border-box;

    background-color: #fffafa;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

body>img.paper-plane {
    position: absolute;

    width: 14vw;
    min-width: 125px;
    height: auto;

    top: 5dvh;
    right: 5dvw;

    z-index: 0;
}

p {
    font-size: 1.12rem;
    line-height: 1.5;
    font-weight: 400;

    color: #36454F;
}

header {
    width: 100dvw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0;
    padding-top: 5dvh;
    padding-left: 5dvw;
    padding-right: 5dvw;

    box-sizing: border-box;

    h1.title {
        align-self: flex-start;

        padding: 0;
        margin: 0;

        color: #36454F;

        z-index: 1000;
    }

    &>p {
        text-transform: uppercase;
        font-weight: 600;

        letter-spacing: calc(1px / 10 * 6);

        color: #36454F;
        background-color: rgba(255, 255, 255, 0.4);

        margin: 0;
        padding: 2px 8px;

        z-index: 1;

        backdrop-filter: blur(4px);

        border-radius: 4px;

        &>a {
            color: rgb(15, 112, 230);
        }
    }
}

main {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90%;

    margin: 16px auto;

    &>section.section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 0 24px;
        flex-wrap: wrap-reverse;

        width: 100%;

        margin-bottom: 32px;

        &>div {
            width: 400px;
            max-width: 90dvw;
        }
    }

    &>section#call-to-action {
        flex-wrap: wrap;

        &>div.call {

            &>h1 {
                color: #36454F;

                font-size: 2.75rem;

                margin: 0;
            }

            &>p {
                font-weight: 300;
            }

            &>img {
                width: 100%;
                height: auto;

                border-radius: 16px;

                @media (max-width: 915px) {
                    display: none;
                }
            }
        }

        &>div.action {

            & p.gray {
                text-align: center;
            }

            &>div#drop-zone {

                width: 400px;
                max-width: 100%;

                height: 300px;

                background-color: #fff;

                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

                border-radius: 16px;
                border: 4px solid #fff;

                padding: 20px;

                text-align: center;

                transition: 500ms;

                box-sizing: border-box;

                animation: waiting 2.5s infinite alternate ease-in-out;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;

                &[aria-disabled="true"] {
                    pointer-events: none;

                    box-shadow: none !important;
                }

                button.btn#add-files {
                    background-color: rgb(15, 112, 230);

                    color: #f9f9f9;

                    border: unset;
                    border-radius: 16px;

                    margin: 8px 0;
                    margin-bottom: 16px;
                    padding: 10px 20px;

                    cursor: pointer;

                    transition: all 300ms ease !important;

                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

                    &:hover {
                        background-color: rgb(25, 135, 255);
                        transform: translateY(-2px);
                    }

                    &:active {
                        transform: translateY(0);
                    }
                }

                &>p {
                    font-weight: 300;

                    margin: 0;
                }

                &.dragover {
                    border: 4px solid rgb(15, 112, 230);
                    box-shadow: 0 0 10px rgba(15, 112, 230, 0.5);
                }

            }

            &>div.examples {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                width: 100%;

                padding: 12px;

                gap: 12px;

                box-sizing: border-box;

                &>p {
                    text-align: start;

                    margin: 0;
                }

                &>div.example-images {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    gap: 8px;

                    width: fit-content;

                    box-sizing: border-box;

                    &>img {
                        width: 55px;
                        aspect-ratio: 1 / 1;

                        object-fit: cover;

                        border-radius: 8px;

                        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                        transition: transform 150ms, border 500ms, box-shadow 500ms;

                        cursor: pointer;

                        &:hover {
                            transform: scale(1.05);
                        }

                        &:active {
                            border: 8px solid rgb(15, 112, 230);
                            box-shadow: 0 0 10px rgba(15, 112, 230, 0.5);
                        }

                        &[aria-disabled="true"] {
                            filter: grayscale(1);

                            border: none !important;
                            box-shadow: none !important;

                            transform: none !important;

                            cursor: not-allowed !important;
                        }
                    }
                }
            }
        }
    }

    &>section.images-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 100dvw;
        min-height: 250px;

        padding: 32px 0;

        background-color: rgb(255, 200, 62);

        box-sizing: border-box;

        border-top: 4px solid #fff;
        border-bottom: 4px solid #fff;

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        position: relative;

        &>img.emoji-painting {
            width: 215px;
            height: auto;

            position: absolute;

            bottom: min(10px, calc(50% - 50px));
            left: 18%;

            z-index: 0;

            user-select: none;
        }

        &>h3 {
            color: #fff;

            text-align: center;
            text-transform: uppercase;
            text-stroke: 1px #333;
            -webkit-text-stroke: 1px #333;

            letter-spacing: calc(1px / 10 * 6);

            font-weight: 900;
            font-size: 24px;

            z-index: 2;

            backdrop-filter: blur(4px);

            padding: 2px 8px;

            border-radius: 4px;
        }

        &>div.images {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            gap: 12px;
            flex-wrap: nowrap;

            width: 100%;

            z-index: 2;

            overflow-x: auto;

            padding: 32px 12px;

            box-sizing: border-box;

            &:empty {
                display: none !important;
            }

            &>div.image {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                gap: 12px;

                flex: 0 0 auto;
                min-width: 300px;
                max-width: 100%;
                height: auto;

                background-color: rgba(255, 255, 255, 0.2);

                backdrop-filter: blur(6px);
                -webkit-backdrop-filter: blur(6px);

                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

                border-radius: 24px;
                border: 2px solid rgba(255, 255, 255, 0.4);

                padding: 16px;

                text-align: center;

                transition: 250ms;

                box-sizing: border-box;

                &:first-child {
                    margin-left: auto;
                }

                &:last-child {
                    margin-right: auto;
                }

                &>div.show-image {
                    width: min-content;
                    height: min-content;

                    background-color: rgba(0, 0, 0, 0.2);

                    backdrop-filter: blur(6px);
                    -webkit-backdrop-filter: blur(6px);

                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

                    border-radius: 8px;
                    border: 1px solid rgba(255, 255, 255, 0.4);

                    &>img {
                        max-width: 80dvw;
                        width: auto;
                        max-height: 350px;
                        height: auto;

                        border-radius: 8px;

                        &.loading {
                            animation: loading 1500ms infinite alternate ease-in-out;
                            border: none;
                            will-change: opacity, box-shadow, filter;
                        }
                    }
                }

                &>div.buttons {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 12px;
                    flex-wrap: wrap;

                    width: 100%;

                    &>button.btn.download-file {
                        background-color: rgb(15, 112, 230);

                        color: #f9f9f9;

                        border: unset;
                        border-radius: 16px;

                        margin: 0;
                        padding: 0 30px;

                        cursor: pointer;

                        transition: all 300ms ease !important;

                        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

                        &:hover {
                            background-color: rgb(25, 135, 255);
                            transform: translateY(-2px);
                        }

                        &:active {
                            transform: translateY(0);
                        }
                    }

                    &>button.btn.remove-file {
                        background-color: rgb(230, 15, 15);

                        color: #f9f9f9;

                        border: unset;
                        border-radius: 16px;

                        margin: 0;
                        padding: 0 30px;

                        cursor: pointer;

                        transition: all 300ms ease !important;

                        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

                        &:hover {
                            background-color: rgb(255, 25, 25);
                            transform: translateY(-2px);
                        }

                        &:active {
                            transform: translateY(0);
                        }
                    }
                }
            }
        }
    }

    &>section#why-use {
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;

        &>div.img {
            width: 400px;

            &>img {
                width: 100%;
                height: auto;
            }
        }

        &>div.text {
            width: 400px;
            min-height: 275px;

            padding: 20px;

            & h2,
            & p {
                color: #333;
            }

            & p {
                font-weight: 300;
                margin: 0;
            }

            & ul {
                list-style: none;
                padding: 0;

                & li {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 8px;

                    margin: 3px 0;

                    &::before {
                        content: '✔️';
                        font-size: 18px;
                    }

                    & p {
                        font-weight: 600;
                        margin: 0;
                    }
                }
            }
        }
    }

    &>section#how-to-use {
        flex-wrap: wrap-reverse;

        &>div.img {
            width: 400px;

            &>video {
                width: 100%;
                height: auto;

                border-radius: 16px;
                border: 4px solid #fff;

                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }
        }

        &>div.text {
            width: 400px;
            min-height: 275px;

            padding: 20px;

            & h2,
            & p {
                color: #333;
            }

            & p {
                font-weight: 300;
                margin: 0;
            }

            & ol {
                padding: 0;

                & li {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 8px;

                    margin: 3px 0;

                    &::before {
                        content: '🔹';
                        font-size: 18px;
                    }

                    & p {
                        font-weight: 600;
                        margin: 0;
                    }
                }
            }
        }
    }

    &>section#how-it-works {
        flex-direction: row-reverse;

        &>div.img {
            width: 400px;

            &>img {
                width: 100%;
                height: auto;

                border-radius: 16px;
                border: 4px solid #fff;

                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }
        }

        &>div.text {
            width: 400px;
            min-height: 275px;

            padding: 20px;

            & h2,
            & p {
                color: #333;
            }

            & p {
                font-weight: 300;
                margin: 0;
            }
        }
    }

    &>section#incentives-me {

        &>div.action {
            width: 400px;

            padding: 20px 0;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &>.btn {
                all: unset;

                display: inline-block;

                background-color: rgb(15, 112, 230);

                color: #f9f9f9;

                border: none;
                border-radius: 16px;

                margin: 8px 0 16px;
                padding: 10px 20px;

                cursor: pointer;

                transition: 250ms !important;

                text-decoration: none;

                box-sizing: border-box;

                &:hover {
                    box-shadow: 8px 8px rgb(10, 78, 161);
                }
            }
        }

        &>div.call {
            width: 400px;

            padding: 20px;

            & h2,
            & p {
                color: #333;
            }

            & h2 {
                margin-top: 0;
            }

            & p {
                font-weight: 300;
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 100dvw;

    padding: 16px;
    margin-top: 32px;

    box-sizing: border-box;

    position: relative;

    &>hr {
        width: 90%;
        height: 1px;

        background-color: #333;
        border: none;

        margin-bottom: 16px;
    }

    &>p {
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;

        letter-spacing: calc(1px / 10 * 6);

        color: #36454F;

        margin: 0;
        margin-bottom: 12px;

        z-index: 1;

        backdrop-filter: blur(4px);

        padding: 2px 8px;

        border-radius: 4px;

        &>a {
            color: rgb(15, 112, 230);
        }
    }

    &>img.rocket-rising {
        width: 80px;
        height: auto;

        position: absolute;

        bottom: 6px;
        left: 5dvw;

        z-index: 0;

        user-select: none;
    }
}

@keyframes loading {
    0% {
        opacity: 0.7;
        box-shadow: 0 0 24px rgba(255, 200, 62, 1);
        filter: brightness(1.2);
    }

    50% {
        opacity: 1;
        box-shadow: 0 0 24px rgba(15, 112, 230, 0.7);
        filter: brightness(1);
    }

    100% {
        opacity: 0.7;
        box-shadow: 0 0 24px rgba(15, 112, 230, 0.7);
        filter: brightness(0.8);
    }
}

button:disabled {
    opacity: 0.5 !important;

    border: none !important;

    cursor: not-allowed !important;

    box-shadow: none !important;
}

button {
    text-transform: uppercase;
}