@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Barlow", sans-serif;
}

body {
    width: 100dvw;
    min-height: 100dvh;

    margin: 0;
    padding: 0;

    overflow-x: hidden;

    box-sizing: border-box;

    background-color: #f9f9f9;
}

h1.title {
    display: inline;

    position: sticky;

    top: 5dvh;
    left: 5dvw;

    align-self: flex-start;

    margin: 0;
    padding: 0;

    color: #777;
}

main {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90%;

    margin: 50px auto;

    &>div#call-to-action {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 24px;
        flex-wrap: wrap;

        width: 100%;

        margin-bottom: 32px;

        &>div.call {
            width: 400px;

            &>h1 {
                color: #333;
            }

            &>img {
                width: 100%;
                height: auto;

                border-radius: 16px;

                @media (max-width: 915px) {
                    display: none;
                }
            }
        }

        &>div.action {
            width: 400px;
            min-height: 275px;

            background-color: #fff;

            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            border-radius: 16px;
            border: 0 solid #fff;

            padding: 20px;

            text-align: center;

            transition: 250ms;

            box-sizing: border-box;

            &>button.btn#add-files {
                background-color: rgb(15, 112, 230);

                color: #f9f9f9;

                border: none;
                border-radius: 16px;

                margin: 8px 0;
                margin-bottom: 32px;
                padding: 10px 20px;

                cursor: pointer;

                transition: 250ms;

                &:hover {
                    box-shadow: 8px 8px rgb(10, 78, 161);
                }
            }

            &>h2,
            &>h3 {
                font-weight: 500;
            }

            &.dragover {
                border: 4px dashed #333;
            }
        }
    }

    &>h1 {
        text-align: center;

        font-weight: 500;

        color: #333;

        margin: 0;
        margin-bottom: 12px;

        display: flex;
        align-items: center;
        justify-content: center;

        &>span {
            margin-right: 12px;

            font-size: 1.4em;
            font-weight: 700;
        }
    }

    &>div.images {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 12px;
        flex-wrap: wrap;

        width: 100%;

        &>div.image {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 12px;

            width: 350px;
            height: 350px;

            background-color: #fff;

            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            border-radius: 16px;
            border: 0 solid #fff;

            padding: 20px;

            text-align: center;

            transition: 250ms;

            box-sizing: border-box;

            &>div.show-image {
                width: 100%;
                height: 70%;

                animation: skeleton-loading 1s infinite alternate;

                &>img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &>button.btn#download-file {
                background-color: rgb(15, 112, 230);

                color: #f9f9f9;

                border: none;
                border-radius: 16px;

                padding: 10px 20px;

                cursor: pointer;

                transition: 250ms;

                &:hover {
                    box-shadow: 8px 8px rgb(10, 78, 161);
                }
            }

            &>button.btn#remove-file {
                background-color: rgb(230, 15, 15);

                color: #f9f9f9;

                border: none;
                border-radius: 16px;

                margin-bottom: 32px;
                padding: 10px 20px;

                cursor: pointer;

                transition: 250ms;

                &:hover {
                    box-shadow: 8px 8px rgb(161, 10, 10);
                }
            }
        }
    }
}

@keyframes skeleton-loading {
    0% {
        background-color: #fff;
    }

    100% {
        background-color: #999;
    }
}