section#call-to-action {
    display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: row;
    flex-wrap: wrap;

    gap: 0 24px;

    width: 100%;

    margin-bottom: 32px;

    &>div {
        width: 400px;
        max-width: 90dvw;
    }

    &>div.call {

        &>img {
            width: 100%;
            height: auto;

            border-radius: 12px;

            @media (max-width: 915px) {
                display: none;
            }
        }
    }

    &>div.action {

        &>div#drop-zone {
            width: 400px;
            max-width: 100%;

            height: 300px;

            padding: 4px;

            text-align: center;

            transition: 500ms;

            box-sizing: border-box;

            animation: waiting 2.5s infinite alternate ease-in-out;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            &[aria-disabled="true"] {
                pointer-events: none;

                box-shadow: none !important;
            }

            &.dragover {
                border: 4px solid rgb(15, 112, 230);
                box-shadow: 0 0 10px rgba(15, 112, 230, 0.5);
            }

        }

        &>div.examples {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            width: 100%;

            padding: 12px;

            gap: 12px;

            box-sizing: border-box;

            &>p {
                text-align: center;

                margin: 0;
            }

            &>div.example-images {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                flex-wrap: nowrap;
                gap: 8px;

                width: fit-content;

                box-sizing: border-box;

                &>img {
                    width: 55px;
                    aspect-ratio: 1 / 1;

                    object-fit: cover;

                    border-radius: 12px;

                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

                    transition: transform 250ms;

                    cursor: pointer;

                    &:hover {
                        transform: scale(1.05);
                    }

                    &:active {
                        transform: scale(1.15);
                    }

                    &[aria-disabled="true"] {
                        filter: grayscale(1);

                        border: none !important;
                        box-shadow: none !important;

                        transform: none !important;

                        cursor: not-allowed !important;
                    }
                }
            }
        }
    }
}
