.glass {
    background-color: rgba(255, 255, 255, 0.05);

    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    box-shadow: 0 4px 45px rgba(112, 112, 182, 0.12);

    border-radius: 16px;
    border: 2px solid rgba(255, 255, 255, 0.4);
}