.glass {
    background: transparent;

    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    border-radius: 28px;
    border: 2px solid #C0C0C060;

    box-shadow:
        0 20px 60px rgba(0, 0, 0, 0.15),
        0 10px 20px rgba(0, 0, 0, 0.1),
        inset 0 4px 8px rgba(255, 255, 255, 0.1),
        inset 0 -4px 8px rgba(0, 0, 0, 0.1);

    position: relative;

    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1) !important;

    &:hover {
        transform: translateY(-2px) scale(1.01);
        box-shadow:
            0 25px 70px rgba(0, 0, 0, 0.2),
            0 15px 30px rgba(0, 0, 0, 0.15),
            inset 0 2px 4px rgba(255, 255, 255, 0.15),
            inset 0 -2px 4px rgba(0, 0, 0, 0.15);
    }
}