section#how-to-use {
    display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: row;
    flex-wrap: wrap-reverse;

    gap: 24px;

    width: 100%;

    &>div.img {
        width: 400px;
        max-width: 90dvw;

        &>video {
            width: 100%;
            height: auto;

            border-radius: 16px;
            border: 4px solid #fff;

            box-sizing: border-box;

            box-shadow: 0 4px 16px rgba(112, 112, 182, 0.32);

            transition: box-shadow 300ms ease-in-out !important;

            &:hover {
                box-shadow: 0 6px 20px rgba(112, 112, 182, 0.48);
            }
        }
    }

    &>div.text {
        width: 400px;
        max-width: 90dvw;
        min-height: 275px;

        & ol {
            padding: 0;

            & li {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 8px;

                margin: 3px 0;

                &::before {
                    content: '🔹';
                    font-size: 18px;
                }

                & p {
                    margin: 0;
                }
            }
        }
    }
}