section#incentives-me {
    display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: row;
    flex-wrap: wrap;

    gap: 24px;

    width: 100%;

    margin-bottom: 32px;

    &>div.left {
        width: 400px;
        max-width: 90dvw;

        display: flex;

        flex-direction: column;

        &>img {
            width: 80%;
            height: auto;

            align-self: center;
        }
    }

    &>div.right {
        width: 400px;
        max-width: 90dvw;
    }
}