section#incentives-me {
    display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: row;
    flex-wrap: wrap-reverse;

    gap: 0 24px;

    width: 100%;

    margin-bottom: 32px;

    &>div.img {
        width: 400px;

        &>img {
            width: 100%;
            height: auto;
        }
    }

    &>div.text {
        width: 400px;

        padding: 20px;
    }
}