h1 {
    color: #36454F;

    z-index: 2;

    &.title {
        align-self: flex-start;

        padding: 0;
        margin: 0;
    }

    &.highlight {
        font-size: 2.75rem;

        margin: 0;
    }
}

h2 {
    color: #36454F;
    letter-spacing: calc(1px / 10 * 3);
}

h3 {
    &.stroke {
        color: #fff;

        text-align: center;
        text-transform: uppercase;
        text-stroke: 1px #36454F;
        -webkit-text-stroke: 1px #36454F;

        letter-spacing: calc(1px / 10 * 6);

        font-weight: 900;
        font-size: 24px;

        z-index: 2;

        backdrop-filter: blur(4px);

        padding: 2px 8px;

        border-radius: 4px;
    }
}

p,
a {
    font-size: 1.12rem;
    font-weight: 400;

    line-height: 1.5;

    color: #36454F;

    &.blur {
        backdrop-filter: blur(10px);

        border-radius: 6px;

        padding: 3px 8px;
    }

    &.overlap {
        z-index: 2;
    }

    &.uppercase {
        text-transform: uppercase;
    }

    &.bold {
        font-weight: 500;
        letter-spacing: calc(1px / 10 * 2);
    }

    &.center {
        text-align: center;
    }

    & strong {
        font-weight: 500;
    }

    & * {
        color: #36454F;
    }
}

a {
    &.highlight {
        color: rgb(15, 112, 230);

        text-decoration: none;

        font-weight: 600;

        letter-spacing: calc(1px / 10 * 6);

        &:hover {
            text-decoration: underline;
        }
    }
}